<!-- <div class="registration-container">
    <div class="registration-background">
    <div class="row">
        <div class="col-md-2">
            <h3>Registration</h3>
        </div>
        
    <form [formGroup]="registrationForm" class="registration-form-container">
        <div class="registration-title">Register New User</div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>Please enter a username:</div>
                    <input type="text" formControlName="username" placeholder="Username" class="registration-input" id="username" [(ngModel)]="username" required>
                </div>
                <div class="form-group">
                    <div>Please enter a name:</div>
                    <input type="text" placeholder="Name" class="registration-input" id="name" formControlName="name" [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                    <div>Please enter your age:</div>
                    <input type="number" placeholder="Age" class="registration-input" id="age" formControlName="age" [(ngModel)]="age" required>
                </div>
                <div class="form-group">
                    <div>Please enter a phone number:</div>
                    <input type="text" formControlName="phoneNumber" placeholder="Phone Number" class="registration-input" id="phoneNumber" [(ngModel)]="phoneNumber" required>
                </div>
            
                <div class="form-group">
                    <div>Please enter a valid email address:</div>
                    <input type="email" formControlName="email" placeholder="Email" class="registration-input" id="email" [(ngModel)]="email" required>
                </div>
                <div class="form-group">
                    <div>Please enter a password:</div>
                    <input type="password" formControlName="password" placeholder="Password" class="registration-input" id="password" [(ngModel)]="password" required>
                </div>
                <div class="form-group">
                    <div>Please select account role:</div>
                    <select type="role" formControlName="role" class="registration-input" id="role" [(ngModel)]="role">
                        <option>ROLE_ADMIN</option>
                        <option selected>ROLE_USER</option>
                    </select>
                </div>
                <button type="button" [disabled]="buttonRegister==false" (click)="register()" class="register-button">Register</button>
            </div>
            <div class="col-md-6">
                <div *ngIf="visible==true">
                    <app-login></app-login>
                </div>
            </div>
        </div>
    </form>
    </div>
</div> -->
<div class="registration-container">
    <div class="registration-background">
        <div class="row">
            <div class="col-md-2">
                <h3>Registration</h3>
            </div>
            <div class="registration-form-container">
                <form [formGroup]="registrationForm" (ngSubmit)="register()">
                    <div class="registration-title">Register New User</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <div class="form-group registration-input">
                                    <label for="name">Name:</label>
                                    <input type="text" formControlName="name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group registration-input">
                                    <label for="username">Username:</label>
                                    <input type="text" formControlName="username" class="form-control" />
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group registration-input">
                                    <label for="password">Password:</label>
                                    <input type="password" formControlName="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group registration-input">
                                    <label for="age">Age:</label>
                                    <input type="number" formControlName="age" class="form-control" />
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group registration-input">
                                    <label for="phone">Phone Number:</label>
                                    <input type="number" formControlName="phoneNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group registration-input">
                                    <label for="email">Email Address:</label>
                                    <input type="email" formControlName="email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group registration-input">
                                <div>Please select account role:</div>
                                <select formControlName="role" class="form-control">
                                    <option>ROLE_ADMIN</option>
                                    <option [defaultSelected]="'ROLE_USER'">ROLE_USER</option>
                                </select>
                            </div>
                            <button type="button" [disabled]="buttonRegister==false" (click)="register()"
                                class="register-button">Register</button>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>