html{
    margin: 0px;
    width: 100%;
    background-image: url(/assets/images/BSP_bg1.png) ;
    background-size: cover;
    height: 100%;
    background-size:cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
}

label {
    font-weight: bold;
}

.engulfing-container{
    height: 100vh;
    width: 100vw -200px;
    margin-left: 240px;
    padding: 100px;
}

#container {
    font-family: "Raleway";
    margin: 100px;
    border: #ff9900 3px solid;
    border-radius: 19px;
    padding: 0px 0px 10px 0px;
}

.form {
    margin: 0 auto;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.field-error-message {
    color: red !important;
    font-size: small;
}

.toast {
    background: rgba(60, 255, 0, 0.454);
    margin: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    color: white;
    position: fixed;
}

.card-head {
    background-color: #ff9900;
    height: 30px;
    margin: -3px;
    padding: 0px;
    border-radius: 18px 18px 0px 0px;
}

button { 
    background-color: #ff9900;
    border-radius: 5px;
    border-color: #ff9900;
    color: white;
    border: none;
    margin: 10px;
    padding: 5px 15px;
}

button:hover {
    background-color: #fcc97e;
}

