<app-sidebar></app-sidebar>
<html>
<div class="engulfing-container">
    <div class="container">
    <h2 class="title">Currency Converter</h2>
  
  </div>
  <div class="ratestitle">
    <h3 class="header">Current Conversion Rates for 1 USD: </h3>
  </div>
  <div class="rates-container">
    <div class="rates-box">
      <div class="rates">
        <h3 class="sub-title">Indian Rupee (INR) <div class="rate-value">{{roundValue(firstRate)}}</div></h3>
        <h3 class="sub-title">Euro (EUR) <div class="rate-value">{{roundValue(secondRate)}}</div></h3>
        <h3 class="sub-title">Japanese Yen (JPY) <div class="rate-value">{{roundValue(thirdRate)}}</div></h3>
        <h3 class="sub-title">Sterling (GBP) <div class="rate-value">{{roundValue(fourthRate)}}</div></h3>
        <h3 class="sub-title">Canadian Dollar (CAD) <div class="rate-value">{{roundValue(fifthRate)}}</div></h3>
        <h3 class="sub-title">Renminbi (CNY) <div class="rate-value">{{roundValue(sixthRate)}}</div></h3>
        <h3 class="sub-title">Australian Dollar(AUD) <div class="rate-value">{{roundValue(seventhRate)}}</div></h3>
        <h3 class="sub-title">Russian Ruble (RUB) <div class="rate-value">{{roundValue(eighthRate)}}</div></h3>
      </div>
    </div>
  </div>
  
  
  <div class="body-container">
    <div class="input-form">
      <input
        placeholder="Enter Amount"
        name="firstValue"
        type="text"
        class="input-field"
        [(ngModel)]="firstInputValue"
        (ngModelChange)="firstInput()">
  
      <select (change)="selectFirstCurr($event)" class="select">
        <option selected value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="INR">INR</option>
        <option value="JPY">JPY</option>
        <option value="GBP">GBP</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="CNY">CNY</option>
        <option value="RUB">RUB</option>
      </select>
    </div>
  
    <div class="input-form">
      <input
        placeholder="Enter Amount"
        ame="secondValue"
        type="text"
        class="input-field"
        [(ngModel)]="secondInputValue"
        (ngModelChange)="secondInput()">
  
      <select (change)="selectSecondCurr($event)" class="select">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option selected value="INR">INR</option>
        <option value="JPY">JPY</option>
        <option value="GBP">GBP</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="CNH">CNH</option>
        <option value="RUB">RUB</option>
      </select>
    </div>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
      <div class="footer-text">
          ©2022 BSP, Inc. Any affiliation and likeness is purely coincidental. No financial gain is earned from this website.
      </div>
  </div>
</div>
</html>

