html{
    margin: 0px;
    width: 100%;
    background-image: url(/assets/images/BSP_bg1.png) ;
    background-size: cover;
    height: 100%;
    background-size:cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
}

.engulfing-container{
  height: 100vh;
  width: 100vw - 240px;
  margin-left: 240px;
}

.body-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
  }
  
  .input-form {
    
    align-self: center;
    margin-bottom: 40px;
  }
  
  .input-field {
    border-top: solid 32px rgb(255, 153, 0);
    width: 500px;
    height: 50px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #3b3939;
    background-color: white;
    box-shadow: 2px 2px 15px black;
    outline: none;
  }
  
  .input-field :focus{
    border: solid 1px rgb(255, 153, 0);
    box-shadow: 0 0 4px rgb(255, 153, 0);
    outline: none;
  }
  
  .select {
    font-family: "Raleway";
    background: white;
    text-align: center;
    font-weight: 700;
    margin-left: 20px;
    height: 50px;
    width: 70px;
    color: rgb(255, 153, 0);
    box-shadow: 1px 1px 5px #000;
    font-size: 18px;
    border-radius: 10px;
  
  }
  
  .select option{
    background-color: white;
    font-weight: 700;
  }
  
  .container {
    padding: 10px 50px;
    background: rgba(250, 250, 250, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .ratestitle{
    color: white;
    text-align: center;
    display: center;
  }

  .rates-container {
    width: 100vw - 240px;
  }

  .rates {
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .title {
    color: white;
    text-align: center;
    display: flex;
    font-weight: 500;
    font-size: 3px;
  }
  
  .sub-title {
    margin: 10px 30px;
    color: white;
    text-align: center;
    display: flex;
    max-width: 110px;
    flex-direction: column;
  }
  