h1 {
    color: white;
    text-align: center;
    display: flex;
}

.login-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    z-index: 8;
}

.login-background{
    background-image: url(/assets/images/BSP_bg1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.login-form-container{
    border-top: solid 32px rgb(255, 153, 0);
    border-radius: 12px;
    height: 360px;
    width: 300px;
    position: absolute;
    top: 120px;
    left: 20vw;
    background-color: white;
    box-shadow: 0px 4px 12px black;
    display: flex;
    justify-content: center;
}

.login-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-box{
    border: solid 1px rgb(255, 153, 0);
    outline: none;
    margin-top: 12px;
}

.input-box:focus{
    border: solid 1px rgb(255, 153, 0);
    box-shadow: 0 0 4px rgb(255, 153, 0);
    outline: none;
}

.login-box input{
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
}

.forgot-password{
    font-size: 12px;
    text-decoration: underline;
    color:rgb(255, 153, 0);
    cursor: pointer;
}

.login-button{
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgb(255, 153, 0);
    font-weight: bolder;
    color: white;
    border: none;
    height: 30px;
    width: 45%;
    position: relative;
}

.login-button:hover{
    cursor: pointer;
    background-color: rgb(255, 169, 41);
    bottom: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.right-container{
    position: absolute;
    top: 120px;
    right: 20vw;
    height: 60vh;
    width: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-logo-container{
    display: flex;
    justify-content: center;
    height: 185px;
    width: 290px;
}

.big-logo{
    background-image: url(/assets/images/BSP_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 185px;
    width: 290px;
}

.quote-container{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-line{
    font-size: 32px;
}

.second-line{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -8px;
}

.second-line1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
}

.your{
    font-style: italic;
}

.second-line2{
    font-style: italic;
    font-size: 68px;
    margin-left: 8px;
}

.third-line{
    margin-top: -14px;
    font-size: 32px;
}

.fourth-line{
    margin-top: -6px;
    font-size: 54px;
}