<div class="login-container">
    <div class="login-background">
        <div class="login-form-container">
            <div class="login-form">
                <form class="login-box">
                    <div class="login-title">Bank Service Portal</div>
                    <input class="input-box form-control" name="username" type="username" placeholder="Username" [(ngModel)]="username" required>
                    <input class="input-box form-control" name="password" type="password" placeholder="Password" [(ngModel)]="password" required>
                    <div class="forgot-password">Forgot Password?</div>
                    <button class="login-button" (click)="login()">Login</button>
                </form>
                <div class="register-link" [routerLink]="['/registration']"><a>New User? Click Here to Register!</a></div>
            </div>
        </div>
        <div class="right-container">
            <div class="big-logo-container">
                <div class="big-logo"></div>
            </div>
            <div class="quote-container">
                <div class="first-line">Excellence in service,</div>
                <div class="second-line">
                    <div class="second-line1">
                        <div class="because">because</div>
                        <div class="your">YOUR</div>
                    </div>
                    <div class="second-line2">
                        <div class="time">TIME</div>
                    </div>
                </div>
                <div class="third-line">is the most valuable</div>
                <div class="fourth-line">CURRENCY.</div>
            </div>
        </div>
    </div>
</div>